.nav-hashtag {
    width: auto;
}


@media only screen and (min-width: 768px) {
    .nav-hashtag {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}