.nav-hashtag {
    width: 100%;
}


@media only screen and (min-width: 768px) {
    .nav-hashtag {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}