$gray: #b0b0b0;
$green:  #398359;
$dark: #35364F;
$white: white;
$blue: #5C7C9B;
$cian: #5c9b97;
$orange: #C1861B;
$red: #C65A3D;
$creme: #F4EAE2;
$orange-light: #c1871b6f;
$gradient: linear-gradient(to bottom, #398359, #148576, #11848d, #3a8099, #5c7c9b);
$gradient-light: linear-gradient(to top, #f5f0eb, #e4dfdc, #d3cfce, #c2bfbf, #b1b0b0);
$gradient-creme: linear-gradient(to top, #398359, #7b9b6e, #afb490, #d8d0bb, #f5f0eb);
$gradient-blue:   linear-gradient(to bottom, #5c7c9b, #6584a2, #6e8daa, #7795b1, #809eb9);
$gradient-dark:  linear-gradient(to left top, #5c7c9b, #536a88, #495875, #3f4662, #35364f);
$gradient-orange: linear-gradient(to left top, #c1861b, #da695d, #c16994, #8876aa, #5c7c9b);
$gradient-green: linear-gradient(to top, #f4eae2, #d7ccb4, #afb28a, #7b9a6b, #398359);
$gradient-red: linear-gradient(to left bottom, #c65a3d, #c86534, #c7702c, #c57b23, #c1871b);