@import "../../assets/_colors.scss";


.coktail {
    display: flex;
    margin: 50px 0 0px 0;

}



.coktail button {
    margin: 5px;
    padding: 5px 10px;
   
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
   
}

.dark {
    color: white;
    background: $dark;
    border: $dark;
}