@import "../../assets/_colors.scss";

.input-big-title-reader {
    color: white;
    background: $blue;
    padding: 15px;
    margin-top: 60px;
   text-transform: capitalize;
    font-family: Raleway;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
}

.input-sm-title-reader {
    color: $blue;
    letter-spacing: 2px;
    text-align: center;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: 15px 0;
    margin-top: 100px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
}

.input-subchapter-reader {
    margin-top: 100px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
   text-decoration: underline;
    letter-spacing: 6px;
   
    font-size: 25px;
    font-weight: bold;
    color:$cian;
}

.input-quote-reader {
    
    margin: 10px 0;
    padding: 15px 0;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: 1.9px;
    color: white;
    border-right: none;
    text-align: center;
    background: $cian;
    width: auto;
}


.input-content-reader {
    color: $dark;
    margin-top: 40px;
    letter-spacing: 1.3px;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Nunito', sans-serif;
}

.input-question-reader {
    color: $dark;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 45px;
}

.input-separation-reader {
    text-align: center;
    font-size: 30px;
    color: $green;
}



.input-ppp-reader {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.input-ppp-reader iframe {
    max-width: 100%;
    box-shadow: -1px -1px 48px 2px $gray;
    border-radius: 20px;
}
.input-image-reader {
    display: flex;
    flex-direction: column;
   align-items: center;
    margin: 50px 0px;
}
.input-image-reader img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: -1px -1px 48px 2px $gray
    
   
}

.reader {
    width: auto;
    margin: 0 !important;
    padding: 0;
    max-width: 95%
}

@media only screen and (min-width: 768px) {
    .reader {
        max-width: 70%;
    }
    .input-content-reader {
      
        letter-spacing: 1.5px;
        font-size: 17px;
        line-height: 40px;
       
    }
    
}