@import "../../assets/_colors.scss";

.input-big-title-reader {
    color: $blue;
    margin-top: 60px;
   text-transform: capitalize;
    font-family: Raleway;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
}

.input-sm-title-reader {
    color: $dark;
    letter-spacing: 2px;
    text-align: center;

    margin-top: 60px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
}

.input-subchapter-reader {
    margin-top: 60px;

    letter-spacing: 2px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    color: $blue;
}

.input-quote-reader {
    
    margin: 30px 0;
    font-style: italic;
    font-family: Roboto ;
    font-size: 20px;
    letter-spacing: 1.9px;
    color: $green;
    border-right: none;
    text-align: center;
}


.input-content-reader {
    color: $dark;
    margin-top: 40px;
    letter-spacing: 1.5px;
    font-size: 15px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.input-question-reader {
    color: $dark;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1.5px;
    font-size: 20px;
    line-height: 45px;
}

.input-separation-reader {
    text-align: center;
    font-size: 30px;
    color: $dark;
}



.input-ppp-reader {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.input-ppp-reader iframe {
    max-width: 80vw;
}
.input-image-reader {
    display: flex;
    flex-direction: column;
   align-items: center;
    margin: 50px 20px;
}
.input-image-reader img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    border: 3px solid $dark;
   
}

.reader {
    width: auto;
    margin: 0 !important;
    padding: 0;
    max-width: 80%
}

@media only screen and (min-width: 768px) {

    .input-content-reader {
      
        letter-spacing: 1.5px;
        font-size: 20px;
        line-height: 40px;
       
    }
    
}