@import "../../assets/_colors";

.contactForm {
    color: $dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
padding-bottom: 100px;
}

#contact h1 {
    color: $dark;
    margin-bottom: 0px;
    padding-bottom: 0;
}

#contact h3 {
    color: gray;
    margin-bottom: 50px;
}

#contact button {
    background: $green;
    color: white
}
#contact button:hover {
background: $blue;
}





.formContent {
    width: 85vw;
}

.contactForm input {
    border: none;
    font-size: 16px;
    font-family: Futura;
    padding: 10px;
}

.contactForm textarea {
    border: none;
    font-size: 16px;
    font-family: Futura;
    padding: 10px;
}
