@import "../../assets/_colors";


.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2.5px solid $blue;
    height: 350px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    transition: all 1s ease-in;
    background: $gradient-blue;
    // box-shadow: 0px 1px 38px 0px $creme;
}



.card h4 {
    color: $creme;
    transition: all 0.3s ease-in;
    text-align: center;
}
// .card:hover {
//     color: $white;
//     background-color: $red;
// }

.card-header {
    position: absolute;
    top: 0;
    display: flex;
    max-width: 80%;
    max-height: 200px;
   

}

.card-header h2 {
   
    text-transform: capitalize;
    color: $creme;
}

.card-body {
    display: flex;
    flex-direction: column;
}


.zoom-in {
    position: relative;
    z-index: 200;
    transform: scale(15)
}

.zoom-in h4 {
    opacity: 0;
} 
.card-footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
    display: flex;
    height: 50px;
    
    align-items: center;
}

.sticker {
    background: $orange;
    border-radius: 15px;
    font-family: 'Futura';
    font-size: 10.5px;
    width: auto;
    margin: 0 2px 0 10px;
    
}

.sticker h4 {
    color: $creme;
    padding: 5px;
    margin: 2px;
    text-transform: uppercase;
}