@import "../../assets/_colors.scss";

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    // height: 100vh;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 200px;
}

.body-container {
   max-width: 1250px;
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

