@import "../../assets/_colors";


.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid $gray;
    height: 350px;
    width: 250px;
    margin: 15px;
    border-radius: 20px;
    transition: all 0.7s ease-in;
}

.card h4 {
    color: $dark;
    transition: all 0.3s ease-in;
    text-align: center;
}

.card-header {
    position: absolute;
    top: 0;
    display: flex;
    max-width: 80%;
    max-height: 200px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

// .card:hover {
//     transform: translateY(-5px);
//     // transition: transform 0.3s ease-in-out;
//     box-shadow: 5px -5px $gray;
//     perspective: 500px;
// }

.zoom-in {
    position: relative;
    z-index: 200;
    
    transform: scale(10)
}

.zoom-in h4 {
    opacity: 0;
} 