@import "../../assets/_colors";

.About {
		height: 100%;
		background: $gradient-light;
}

.arrow { 
	display: flex;
	justify-content: center;
}

.head {
		display:flex;
		flex-direction: column;
		min-height: 100vh;
		// width:100vw;
		justify-content: center;
		align-items: center;
		margin-bottom:2vh;
		background: url('../../assets/img/desk.jpg') ;
		background-color: #c1871baa;
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		// background-attachment: fixed;
		background-position: center top;
		background-size: cover;
		background-origin: content-box;
}


.head-nav {
    position: absolute;
    top: 0;
    display: flex;
	width: 100%;
}
.head-nav .nav {
	width: 100%;
}


.profilContainer {
		display:flex;
		// width:100vw;
		justify-content: center;
		flex-direction: column;
		align-items: center;
}

.profilPic{
		height: 50vh;
		width: auto;
		background-size: 100%;
		border-radius: 20px;
	}

.profilTxt{
		height: auto;
		width: 90%;
		color: $creme;
}

.contactContainer {
		display:flex;
		
}

.contactButton {
		color: $dark;
		margin: 50px 0 10px 0;
		text-align: center;
}

@media only screen and (min-width: 768px) {
	.profilContainer {
		display:flex;
		flex-direction: row;

	}


.profilPic{
	height: 50vh;
	width: auto;
	margin-right: 50px;
}

.profilTxt{
	height: 50vh;
	width: 30vw;
	
}
}