@import "../../assets/_colors.scss";
.search-bg {
    background-color: $dark;
    border-radius: 40px;
    border: 1.5px solid $dark;
}

.search-bar {
    text-align: center;
    width: 340px;
    height: 50px;
    background-color: $dark;
    border-radius: 40px;
    border: 1.5px solid $dark;
    color: $white;
    font-size: 20px;
}

.search-add {
		color: white;
}
