@import "../../assets/_colors.scss";

.search-bg {
    position: relative;
    background-color: $dark;
    border-radius: 40px;
    
  
}

.search-btn {
    position: absolute;
    right: 5px;
  
    background-color: transparent;
    border-radius: 40px;
    border: 1.5px solid transparent;
   padding: 9px;
}

.search-btn:hover {
    background: transparent;
}


.search-bar {
    text-align: center;
    padding-right: 20px;
    width: 160px;
    height: 23px;
    background-color: $dark;
    border-radius: 40px;
    color: $white;
    font-size: 20px;
    border: none;
   
}
.search-bar::placeholder {
    color: orange
}

.search-add {
		color: white;
}
@media only screen and (min-width: 768px) {
    .search-bar {
        background-color: $dark;
        height: 40px;
        font-size: 16px;
        width: 220px;
        
    }
    .search-bg {
        background-color: $dark;
        margin: 10px
    }
    .search-btn {
        padding: 14px;
        background-color: $dark;
        border: 1.5px solid transparent;
    }
    .search-btn:hover {
        border: 1.5px solid transparent;
    }
}

