@import "../../assets/_colors";

.contactForm {
    color: $dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



.formContent {
    width: 85vw;
}

.contactForm input {
    border: none;
    font-size: 16px;
    font-family: Futura;
    padding: 10px;
}

.contactForm textarea {
    border: none;
    font-size: 16px;
    font-family: Futura;
    padding: 10px;
}
