@import "../../assets/_colors";


.header {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header div {
    display: flex;
}

.header img {
    width: 500px;
}


//*****************- Header Account - *****************// 

.header-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-bar {
display: flex;
align-items: center;
}

.app-bar button {
    margin-left: 10px;
}
