@import "../../assets/_colors";

.page {

    position: relative;
    max-width: 100vw;
    display: flex;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.page i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: x-large;
    margin: 20px;

}

.page-bar-close {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 150;
    background-color: $green;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    transition: height 0.3s;
}


.page-bar-open {
    position: fixed;

    bottom: 0;
    height: calc(100% - 10px);
    width: 100%;
    z-index: 150;
    background-color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: height 0.3s;
    overflow-y: scroll;
}

.page-bar-header {
    position: absolute;
    top: 5px;
}

.chapter {
    padding: 0;
}

.chapter h3 {
    color: $creme;
    text-decoration: underline;

}



.page-bar-body {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.course {
    background: $creme;
    margin-top: 50px;
    min-width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .page-bar-close {
        display: none;
    }
    .page-bar-open {
        display: none;
    }
}