@import "../../assets/_colors";


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
}

.title h1 {
    color: $dark;
    font-size: 25px;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .title h1 {
    
        font-size: 50px;
      
    }
}