@import "../../assets/_colors";


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: calc(100vh - 200px);
    background: $orange;
    position: fixed;
    left: 30px;
    bottom: 30px;
    border-radius: 20px;
    
}

li {
    padding: 20px 0 20px 0;
}