@import "../../assets/_colors";


//phone
.header {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.background {
    background: url('../../assets/img/desk.jpg') ;
    background-color: #c1871b8e;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center top;
    background-size: auto;
    background-origin: content-box;


}

.header div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}


.header img {
    width: 300px;
}


//*****************- Header Account - *****************// 

.header-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-bar {
    display: flex;
    align-items: center;
}

.app-bar button {
    margin-left: 10px;
}




//tablette
@media only screen and (min-width: 600px) {

    
}

//Desktop

@media only screen and (min-width: 768px) {


    // .header {
    //     width: 100%;
    //     min-height: calc(100vh - 70px);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    // }

    .header div {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .header img {
        width: 500px;
    }


    //*****************- Header Account - *****************// 

  

}