@import "../../assets/_colors";

.hashtag {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: $gray;
    margin: 5px;
    border: 3px solid $gray;
}




.hashtag h4 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin: 0 20px 0 0;
    height: 40px
}

.active-hashtag {
    border: 3px solid $green;
    background-color: $orange;
}

.active-hashtag:hover {
    border: 3px solid $green;
    background-color: $orange;
}




.search-minus {
    color: white;                        
    transform: translate(-50%,0%);
}

.custom-bg {
    position: absolute;
    z-index: 10;
    right: 5px;
    
	width:10px;
	background-color: rgba(0,0,0,0);
    border-radius: 40px;
	border: 0px;
	margin-right: 10px;
}

.custom-bg:hover {
	z-index: 10;
    background-color: rgba(0,0,0,0);
	border:0px;
	z-index: 10;
}

@media only screen and (min-width: 768px) {
    .hashtag {
        margin: 10px;
    }

    .hashtag h4 {
        height: 55px;
        padding: 0px 30px;

    }

    // .hashtag:hover {
    //     background-color: $red;
    //     border: 3px solid $red;
    // }
}
