@import "../../assets/_colors";

.hashtag {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: $gray;
    margin: 10px;
    border: 3px solid $gray;
}

.hashtag:hover {
    background-color: $green;
    border: 3px solid $green;
}


.hashtag h4 {
    padding: 0px 30px;
}

.active-hashtag {
    border: 3px solid $green;
    background-color: $orange;
}

.active-hashtag:hover {
    border: 3px solid $green;
    background-color: $orange;
}

.search-minus {                                                                                                                                                                             
    color: white;                                                                                                                                                                     
    transform: translate(-25%,-15%);
}

.custom-bg {
    position: relative;
	z-index: 10;
	background-color: $orange;
    border-radius: 40px;
}
