@import "../../assets/_colors";

.page {
    position: relative;
    min-width: 100vw;
    display: flex;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    background: $gradient-dark;  
    background-size: cover;
    background-blend-mode: multiply;
    
}

.cross {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 0;
    margin-right: 20px;
    color: $creme
}

.page-bar-close {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 150;
    background-color: $green;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    transition: height 0.3s;
}
.page-bar-open {
    position: fixed;
    bottom: 0;
    height: calc(100% - 10px);
    width: 100%;
    z-index: 150;
    background-color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: height 0.3s;
    overflow-y: scroll;
}

.page-bar-header {
    position: absolute;
    top: 5px;
}

.transparent {
   opacity: 0;
   transition: opacity 0.3s;
}
.show-chapter {
    opacity: 1;
    transition: opacity .7s;;
}


.chapter {
    max-width: 20%;
    padding: 0;
    position: fixed;
    top: 11%;
    left: 5%;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: start;
    background: $blue;
    // border: 10px solid $blue;
    border-radius: 10px;
    padding: 0 15px;
    min-height: 70%;
    width: 30%;
}

.chapter h3 {
    color: $creme;
    font-weight: bold;
    background-color: $dark;
    padding: 5px 10px;
    border-radius: 5px;
}





.page-bar-body {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.course {
    background: $creme;
    margin-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    animation: reveal 1s ease;
    box-shadow: -3px -3px 33px -2px $dark;
}

.discover {
    transform: translate3d(30%, 0, 0) ;
    transition: transform 0.29s
}

.hide {
    transform: translate3d(0,0,0);
    transition: transform 0.29s
}
.chapterBtn {
    position: fixed;
    left: 0;
    top: 0%;
    margin: 15px;
    background: transparent;
    border: none;
}
.chapterBtn i {
    font-size: 50px;
    color: $blue
}
.chapterBtn i:hover {
    color: $gray
}

.chapterBtn:hover {
    background: transparent;
    border: none;
    
}



// @keyframes reveal {
//     0%{
//         opacity: 0;
//         transform: translate3d(0%, 10%, 0);
//         transition: opacity .7s, transform 1s;
//     }
// }

@media only screen and (min-width: 768px) {
    .course {
        width: 80%;
    }
    .page-bar-close {
        display: none;
    }
    .page-bar-open {
        display: none;
    }
}