@import "./assets/colors";

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Monserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: $creme;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $orange;
}

a {
  color: $dark;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: $dark
}

h1 {
  font-family: 'Poller One', cursive;
  font-weight: 300;
}

h2, h3, h4, p, button {
  font-family: 'Futura';
  font-weight: 100;
}

h2 {
  text-align: center;
}

input, textarea {
  padding: 20px;
  border-radius: 15px;
  border: solid 2px $dark;
  font-size: 20px;
  outline: none;
  margin: 5px;
  color: $dark;
}

button {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: $dark;
  border-radius: 20px;
  border: solid 2px $creme;
  background: $creme;
  font-size: 20px;
};

button:hover {
  background: $dark;
  color: $white;
  border: solid 2px $dark;
}

.mt-large {
  margin-top: 100px;
}


