@import "./assets/colors";


body {
  margin: 0;
  font-family: 'Monserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: $dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $yellow;
}

a {
  color: $white
}

input {
  padding: 20px;
  border-radius: 15px;
  border: solid 1.5px $blue;
  font-size: 20px;
  outline: none
}


