@import "./assets/colors";

// * {
//   scroll-behavior: smooth;
// }

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: $gradient-dark;
  background-repeat: no-repeat;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: $dark
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $orange;
}

.light {
  background-color:#ebe1cc ;
}

// .light {
//   background-image: linear-gradient(to right bottom, #d16b85, #d36090, #cf56a0, #c650b3, #b350c9, #936ae3, #6680f5, #0092ff, #00b1ff, #00cdff, #00e5fd, #5ffbf1);
// }

a {
  color: $dark;
  text-decoration: none;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

h1, h2, h3, h4, p {
  color: $creme
}

h1 {
  font-family: 'Lily Script One', cursive;
    font-weight: 500;
    font-size: 50px;
}

h2, h3, h4, a, button {
  font-family: 'Futura';
  font-weight: 100;
}



h2 {
  text-align: center;
}

input, textarea {
  padding: 5px;
  border-radius: 15px;
  border: solid 1.5px $dark;
  font-size: 16px;
  outline: none;
  margin: 5px;
  color: $dark;
}

button {
  // margin-top: 20px;
  padding: 10px;
  color: $dark;
  border-radius: 20px;
  border: solid 2px $creme;
  background: $creme;
  font-size: 16px;
  outline: none;
};

button:hover {
  background: $dark;
  color: $white;
  border: solid 2px $dark;
}







//desktop
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  };

  button {
    font-size: 20px;
  };
  input, textarea {
    font-size: 20px;
  }
}







